.auth_head{
    background-color: var(--black);
}

.auth_head {
    padding: 2rem;
    margin-bottom: 2rem;
}

.auth_container {
    max-width: 450px;
    margin: auto;
    gap: 1.5rem;
}

.auth {
    background-color: var(--white);
    padding: 2rem;
    border: 1px solid var(--primary);
    border-radius: var(--br-cr);
    gap: 1.5rem;
}

.auth_heading {
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.credantials {
    gap: 1rem;
}

.input {
    display: block;
    background-color: var(--white);
    color: var(--black);
    border-color: var(--gray1);
}

.btn-primary:hover {
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.auth_alt {
    margin: auto;
}