/***** fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    /*** fonts ***/
    /* --text-font: 'Roboto', sans-serif; */
    --text-font: 'Poppins', sans-serif;

    /*** color ***/
    --primary-pg: #FF3B30;
    --black-pg: #000000;
    --white-pg: #ffffff;
    --grey1-pg: #555;
}